:root,
html[data-scheme='light'] {
  --body-bg: #ffffff;

  --light-gray: #d8dee4;
  --dark-gray: #656d76;
  --blue: #0969da;

  --header-bg: #f6f8fa;
  --header-text: #1f2328;
}

html[data-scheme='dark'] {
  --body-bg: #0d1116;

  --light-gray: #21262d;
  --dark-gray: #7d8590;
  --blue: #2f81f7;

  --header-bg: #010409;
  --header-text: #e6edf3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--body-bg);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
